@model BTL_WEB.ViewModels.Medical.VaccinationFormViewModel
@{
    ViewData["Title"] = "Create Vaccination";
}
<h1 class="h3 mb-3">Create Vaccination</h1>
<partial name="_Form" model="Model" />
@section Scripts { <partial name="_ValidationScriptsPartial" /> }
