@model BTL_WEB.ViewModels.Services.ServiceCategoryFormViewModel
@{
    ViewData["Title"] = "Edit Category";
}
<h1 class="h3 mb-3">Edit Category</h1>
<partial name="_Form" model="Model" />
@section Scripts { <partial name="_ValidationScriptsPartial" /> }
