@model BTL_WEB.ViewModels.Pets.PetFormViewModel

@{
    ViewData["Title"] = "Create Pet";
}

<h1 class="h3 mb-3">Create Pet</h1>

<partial name="_PetForm" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
